<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>programmatic_view_tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9896484B1E2A9913002525A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9896485F1E2A9913002525A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9896486A1E2A9913002525A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
